#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: pulse 1.5s infinite;
    .ficha{
        margin-bottom: 1rem;
    }


}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.ficha {
    width: 60px;
    height: 60px;
   
}

.atm-input-primary {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 250px;
    color:white;
    label {
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    input{
        border: #BB65FF 1px solid;
        border-radius: 30px;
        background-color: transparent;
        padding-inline: 20px ;
        padding-block: 13px;
        color: white;
        font-weight: 300;
        font-size: 18px;
    }

} 
.atm-input-secundary {
    display: flex;
    flex-direction: column;
    width: 350px;
    color:white;
    label {
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    input{
        border: #BB65FF 1px solid;
        border-radius: 30px;
        background-color: transparent;
        padding-inline: 20px ;
        padding-block: 13px;
        color: white;
        font-weight: 300;
        font-size: 18px;
    }

} 



.atm-button-primary{
    color : #330072;
    background-color: white;
    border:none;
    border-radius: 30px;
    padding-inline: 24px ;
    padding-block: 10px;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
}
.atm-button-secundary{
    color : white;
    background-color: #26104d ;
    border: 2px solid white;
    border-radius: 30px;
    padding-inline: 24px ;
    padding-block: 10px;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    &:disabled {
        opacity: 0.5; 
        cursor: not-allowed; 
      }
}

.atm-button{
    color : #330072;
    background-color: white;
    border:none;
    border-radius: 30px;
    padding-inline: 24px ;
    padding-block: 10px;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
}



  

  .atm-duo-radio {
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
  
  .custom-radio {
    margin-left: 5px;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #BB65FF; 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
  }
  
  .custom-radio:checked {
    background: #BB65FF; 
    box-shadow: inset 0 0 0 3px #1F0D3F;
  }
  .vote-counting-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    font-size: 20px;
    font-weight: 300;
    .circle-loader{
        animation: pulse 1.5s infinite;
      }
    p{
        margin: 0px;

    }
  }

  
  @keyframes pulse {
    0% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(200%);
    }
    100% {
      filter: brightness(100%);
    }
}