.org-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .atm-button {
        margin-top: 1.5rem;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    margin-top: 1rem;
    margin-inline: 4rem;

    top: 0;
    left: 0;
    right: 0;

    .poker-header {
        display: flex;
        color: white;
        font-size: x-large;
        gap: 1rem;
        align-items: center;
        min-width: 278px;
    }

    .title-header {
        color: white;
        font-size: x-large;
        letter-spacing: 1px;
        font-weight: 900;
    }

    .icon-player {
        width: 48px;
        height: 48px;
        background-color: #BDBDFF;
        color: #330072;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 1000;
    }

    .right-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        min-width: 278px;

    }


}

.poker-table {
    display: grid;
    grid-template-columns: 110px 500px 110px;
    grid-template-rows: 110px 320px 110px;
    grid-gap: 10px;
    .center{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .outline {
        border: 2px solid #6f39cc;
        background-color: transparent;
        height: 89%;
        width: 98%;
        z-index: 1;
        border-radius: 11rem;
    }
    .middle {
        border: 2px solid #a87df3;
        height: 77%;
        width: 90%;
        background-color: transparent;
        position: absolute;
        z-index: 2;
        border-radius: 8rem;
    }
    .board {
        border: 1px solid #6429CD;
        height: 70%;
        width: 85%;
        background-color: #26104d;
        position: absolute;
        z-index: 3;
        border-radius: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .spot{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .bottom{
            margin-top: 1rem;
            align-items: end;
        }
    }
}
.card{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin: 0px;
        margin-top: 7px;
    }


}
@keyframes colorChange {
    0% {
        background-color: #26104d;
    }
    0% {
        background-color: #bcb6c1
    }
    100% {
        background-color: #BB65FF;
    }
}

.player {
    width: 38px;
    color: white;
    height: 70px;
    background-color: #26104d;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #BB65FF;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.player:hover {
    transform: translate(0px, -5px);
    animation: colorChange 0.25s ease-in; /* Ajusta la duración según tus preferencias */
    background-color: #BB65FF;
    color: #26104d;
}

.selected{
    animation: colorChange 0.25s ease-in !important;/* Ajusta la duración según tus preferencias */
    background-color: #BB65FF !important;
    box-shadow: 0px 0px 5px 0px #BB65FF !important;
    transition: all 0.25s ease-in-out !important;
    color: #26104d !important;
}

.elevate{
    transform: translate(0px, -5px);
}

.deck-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;

    p{
        margin-top: 0px;
        margin-bottom: 18px;
        text-align: center;
        color: white;
        font-size: larger;
    }


}

.deck-of-cards{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.result{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 5%;
}

.result{
    p{
        margin: 0px;
    }
    .number{
        font-size: 3rem;
        font-weight: 900;
        color: white;
    }
}

.cards-selections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .instances{
        margin: 0px;
        font-size: 12pt;
        color: white;
        font-weight: 300;
    }
}